<!-- default.html - 基础布局模板 -->
<!DOCTYPE html>
<html lang="zh-CN"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" th:href="${setting?.siteAvatar ?:'/favicon.ico'}" type="image/x-icon">
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE" th:text="${setting?.siteName ?: '月海导航'}">月海导航</title>
    <meta name="description" th:content="${setting?.description ?: '月海导航 - 一个简洁高效的网址导航网站，帮助您快速访问常用网站'}" />
    <meta name="keywords" th:content="${setting?.keywords ?: '导航,网址导航,网站导航,书签,收藏夹,月海导航'}" />
    <meta name="author" content="Qiuyun(https://moonsea.cc)">

    <meta property="og:title" th:content="${setting?.siteName ?: '月海导航'}" />
    <meta property="og:description" th:content="${setting?.description ?: '月海导航 - 一个简洁高效的网址导航网站，帮助您快速访问常用网站'}" />
    <meta property="og:image" th:content="${setting?.siteLogo ?: '/images/logo.svg'}">

    <!-- Tailwind CSS + daisyUI -->
    <link th:href="@{/css/daisyui5.css}" rel="stylesheet" type="text/css" />
    <script th:src="@{/js/tailwindcss4.js}"></script>
    <!-- 定义 CSS 片段占位符，供子页面插入特定 CSS -->
    <th:block layout:fragment="css"></th:block>
</head>
<body class="bg-base-200">
    <!-- 公共头部 -->
    <header th:replace="~{fragments/header :: nav}"></header>

    <!-- 主要内容区 -->
    <main layout:fragment="content"></main>

    <!-- 公共页脚 -->
    <footer th:replace="~{fragments/footer :: footer}"></footer>

    <!-- 修改密码模态框 -->
    <th:block th:replace="~{fragments/change-password :: change-password-modal}"></th:block>

    <!-- 右下角固定图标 -->
    <div th:replace="~{fragments/fixed-buttons :: fixed-buttons}"></div>
    <th:block th:replace="~{fragments/fixed-buttons :: fixed-buttons-js}"></th:block>

    <!-- 定义 JavaScript 片段占位符，供子页面插入特定 JS -->
    <th:block layout:fragment="javascript"></th:block>
</body>
</html>
