<footer th:fragment="footer" th:with="siteSetting=${setting}" class="footer sm:footer-horizontal footer-center bg-base-200 text-base-content p-4">
    <aside>
        <p>
            Copyright © 2025 -  <span th:text="${#dates.year(#dates.createNow())}"></span> - All right reserved by
            <a th:href="@{${siteSetting?.siteDomain ?: 'https://moonsea.cc'}}" class="link link-hover" target="_blank" th:text="${siteSetting?.siteName ?: 'moonsea.cc'}">moonsea.cc</a>
        </p>
    </aside>
</footer>
